<div ng-controller="songsCtrl">
  <div id="top">
   <h1 class="text-left" style="padding: 20px 20px">SongsApp</h1> 
    <a ng-href="{{ randomLink }}" target="blank">
      <img id="wiki" src=https://www.logodesignteam.com/images/portfolio-images/motion-pictures-film-logo-design/motion-pictures-film-logo-design8.jpg alt=""></a>
    <div class="row">
      <div class="col-md-10">
        <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search for Songs"> </div>
        <div class="col-md-2">
          <a id="search" ng-click="searchSongs()" class="btn btn-lg btn-danger">Search</a>
        </div>
    </div>
    </div>

    <div class="row">
      <span class="col-md-4" ng-repeat="song in songsArray[0]">
        <div class="card" style="width: 18rem; margin-bottom: 50px">
            <img  ng-if="song.image[$index]['#text']!=='N/A'" class="card-img-top" style="height: 300px;"src="{{ song.image[2]['#text'] }}">
            <img ng-if="song.image[2]['#text']==='N/A'" class="card-img-top" style="height: 300px;"src="https://cdn20.patchcdn.com/users/22924509/20180417/024653/styles/T800x600/public/processed_images/jag_cz_movie_theater_retro_shutterstock_594132752-1523990060-9711.jpg">
            <div class="card-body" style="background-color: #f1f1f1;">
              <h5 class="card-title">{{ song.name }}</h5>
            </div>
            <div>
              <a href="#!song-info" ng-click="songInfo(song.mbid)"class="btn btn-primary btn-block" style="background-color: black; color: white">Song Details</a>
            </div>
        </div>
      </span>
    </div>
 </div>